*.sublime-project
*.sublime-workspace
logs/
monster_kids.sublime-workspace
options.txt
realms_persistence.json
saves/monster_kids/advancements/
saves/monster_kids/data/scoreboard.dat
saves/monster_kids/data/villages.dat
saves/monster_kids/data/villages_end.dat
saves/monster_kids/data/villages_nether.dat
saves/monster_kids/level.dat_old
saves/monster_kids/playerdata/
saves/monster_kids/region/r.-1.-1.mca
saves/monster_kids/region/r.-1.0.mca
saves/monster_kids/region/r.-1.5.mca
saves/monster_kids/region/r.-1.6.mca
saves/monster_kids/region/r.0.-1.mca
saves/monster_kids/region/r.0.5.mca
saves/monster_kids/session.lock
saves/monster_kids/stats/
screenshots/
server-resource-packs/
servers.dat
usercache.json

saves/Moesh's Workshop/
